body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.container {
  display: block;
  margin: 0 auto;
  padding: 50px;
  margin-top: 60px;
  width: 800px;
  height: 700px;
  border-radius: 20px;
  background: linear-gradient(
    68.1deg,
    rgb(248, 205, 205) -0.3%,
    rgb(149, 170, 211) 100.7%
  );
  box-shadow: 2px 4px 5px rgb(173 173 175 / 80%);
}
small {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: black;
}
.weather-app {
  padding: 20px;
  border: 2px dashed #dadde1;
  border-radius: 10px;
  background-color: thistle;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
}

.overview {
  margin-bottom: 20px;
}

h1 {
  color: #daafaf;
  display: block;
  font-size: 24px;
  font-weight: 40px;
  line-height: 50px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-temperature img {
  margin-right: 5px;
  float: left;
  height: 64px;
  font-weight: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 18px;
  top: -32px;
}

body {
  background-image: url("https://c.wallhere.com/photos/9c/2e/1920x1080_px_anime-797686.jpg!d");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: black;
  opacity: 0.6;
}

.weather-forecast-temperature-low {
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
